[Desktop Entry]
Version=1.1
Type=Application
Name=Hugor
GenericName=Hugo Interpreter
Comment=Multimedia interpreter for Hugo text adventures
Exec=hugor %f
TryExec=hugor
Icon=hugor
Categories=Game;
MimeType=application/x-hugo-image;
