[Desktop Entry]
Version=1.0
Type=Application
Name=Hugor
GenericName=Hugo Interpreter
Comment=Multimedia interpreter for Hugo adventure games
Exec=hugor %f
TryExec=hugor
Icon=hugor
Categories=Game;
MimeType=application/x-hugo-image;
